<div class="container">
    <h1 class="text-center">:: Create New Post here ::</h1>
    <a href="#" routerLink="/post/index" class="btn btn-warning">Go Back</a>
    
    <form  [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title" class="form-control" [(ngModel)]="post.title">
        <div *ngIf="f['title'].touched && f['title'].invalid"  class="alert alert-danger">
            <div *ngIf="f['title'].errors && f['title'].errors['requerid']">
                O título é obrigatório.-
            </div>
        </div>
    </div>
    
        <div class="form-group">
            <label for="body">Body:</label>
            <input type="text" id="bocy" formControlName="body" class="form-control" [(ngModel)]="post.body">
        <div *ngIf="f['body'].touched && f['body'].invalid"  class="alert alert-danger">
            <div *ngIf="f['body'].errors && f['body'].errors['requerid']">
                O Corpo é obrigatório.
            </div>
        </div>
     </div>
    
     <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
    
    

